
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-top:20vh;
} */

.App-header{
  text-align: center;
}

.form-section{
  display:block;


}

.home-section{
  text-align: center;
  color:white;
  margin-top: 5%;
  display: block;
}

.profile-photo{
  margin-bottom: 5%;
  max-height: 20vh;
}